#productContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

#img {
    width: 500px;
    height: auto;
    margin-bottom: 10px;
}

#price {
    color: 'green';
    font-weight: bold;
    font-size: 20px;
}

#addToCart {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: '5px';
    cursor: pointer;
}

#productImage {
    flex: 1;
    /* margin-right: 20px; */
}

#productDetails {
    flex: 1;
    max-width: 500px;
}

#productInfo {
    flex-basis: 100%;
    margin-top: 20px;
}

#productDescription {
    display: flex;
}

#productDescription p {
    text-align: justify;
    margin-left: 40px;
    margin-right:40px;
    text-justify: inter-word;
}